# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version 

# Packaging
.Python
lib/
lib64/
parts/
sdist/
var/


# Output data files
*.mp4
*.mp3

# Python cache
*.pyc
__pycache__/